html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-image: url('/assets/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.navbar {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.navbar .logo {
    font-size: 1.5rem;
    color: #ffffff;
}

.navbar .logo span {
    color: #ff9900;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul li {
    list-style: none;
    margin: 0 5px;
    padding-left: 10px;
}

.navbar ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 15px;
    transition: background 0.3s;
}

.navbar ul li a.active, .navbar ul li a:hover {
    background: #434343;
}

.navbar ul li a.donate {
    background: #ff9900;
    padding: 15px 20px;
    border-radius: 23px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.navbar ul li a.donate:hover {
    background-color: #434343;
    transform: scale(1.1); 
    color: #ff9900;
}

.hero {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: rgba(26, 26, 26, 0.8);
    text-align: center;
}

.hero-content {
    max-width: 50%;
}

.donation-box {
    background-color: rgba(43, 42, 42, 0.9);
    color: #ffffff;
    padding: 30px;
    text-decoration: none;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    margin-top: 75px;
}

.donation-box h1 {
    color: #ff9900;
    font-size: 50px;
}

.donation-box #p2 {
    margin-bottom: 20px;
    font-size: 1.2rem;
    max-width: 600px;
    padding-left: 130px;
}

.donation-box #p1 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: #ff9900;
}

.donation-buttons {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.donation-buttons a {
    background-color: #ff9900;
    text-decoration: none;
    color: #ffffff;
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.donation-buttons a:hover {
    background-color: #434343;
    color: #ff9900;
    transform: scale(1.1);
}

.hamburger-container {
    position: relative;
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: #ffcc00;
}

@media screen and (max-width: 820px) {
    .hamburger {
        display: block;
        font-size: 30px;
        cursor: pointer;
        color: #ff9900;
        padding: 10px;
        transition: transform 0.3s ease;
        margin-left: -100px;
    }

    #navMenu {
        display: none;
        flex-direction: column;
        background-color: rgba(44, 44, 44, 0.9);
        position: absolute;
        top: 100%;
        left: -120px; 
        transform: translateX(-30%); 
        min-width: 200px;
        max-width: 70%; 
        z-index: 3;
        border-radius: 15px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
        opacity: 0; 
        max-height: 0; 
    }
    
    .hamburger-container:hover #navMenu,
    .hamburger-container:focus-within #navMenu {
        display: flex;
        max-height: 500px; 
        opacity: 1;
    }

    .navbar nav ul {
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .navbar nav ul li {
        margin: 0;
        max-width: 100%;
        padding: 10px 10px;
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .navbar nav ul li:last-child {
        border-bottom: none;
    }

    .navbar nav ul li a {
        width: 100%;
        margin-left: -12px;
        display: block;
        color: #ffffff;
        text-decoration: none;
        font-weight: bold;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .navbar nav ul li a:hover {
        background-color: rgba(255, 255, 255, 0.2);
        color: #ffffff; 
    }
}

@media screen and (max-width: 768px) {
    .donation-box {
        padding: 20px;
        margin-top: 60px;
        text-align: center; 
        width: 90%; 
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .donation-box h1 {
        font-size: 2rem; 
    }

    .donation-box #p2 {
        font-size: 1rem;
        text-align:justify; 
        max-width: 100%; 
        padding-left: 0;
    }

    .donation-box #p1 {
        margin-top: 20px;
        font-size: 1rem;
    }

    .donation-buttons {
        flex-direction: column; 
        margin-top: 20px;
    }

    .donation-buttons a {
        margin-bottom: 15px; 
        width: 80%;
        padding: 10px 26px;
        font-size: 0.9rem; 
    }
}


@media screen and (max-width: 430px) {

}