 /* Desktop Interface */
.site-footer {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 10px 10%;
    color: white;
    position: relative;
    z-index: 2;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.5);
    margin-top: auto;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo {
    font-size: 1.8rem;
}

.footer-logo span {
    color: #ff9900;
}

.footer-info {
    text-align: center;
    flex: 1;
    font-size: 1rem;
    line-height: 1.6;
}

.back-to-top .btn-top {
    background-color: #ff9900;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 1.1rem;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.back-to-top .btn-top:hover {
    background-color: #434343;
    transform: scale(1.1);
    color: #ff9900;
}

 /* Ipad Mini Interface */
@media screen and (max-width: 768px) {

    .site-footer {
        box-shadow: 0 -2px 4px rgba(16, 110, 252, 0.5);       
        background-color: rgba(18, 108, 168, 0.9);
        padding: 10px 10%;
        color: white;
        position: relative;
        z-index: 2;
        margin-top: auto;
    }
    
    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
    }
    
    .footer-logo {
        font-size: 1rem;
    }
    
    .footer-logo span {
        color: #0099ff;
    }
    
    .footer-info {
        text-align: center;
        flex: 1;
        font-size: 0.8rem;
        line-height: 1.4;
    }
    
    .back-to-top .btn-top {
        background-color: #0099ff;
        color: white;
        padding: 10px 20px;
        border-radius: 25px;
        text-decoration: none;
        font-size: 0.8rem;
        transition: transform 0.3s ease, background-color 0.3s ease;
    }
    
    .back-to-top .btn-top:hover {
        background-color: #434343;
        transform: scale(1.1);
        color: #ff9900;
    }
}
 /* Iphone Interface */
@media screen and (max-width: 430px) {
    
    .site-footer {
        box-shadow: 0 -2px 4px rgba(16, 110, 252, 0.5);       
        background-color: rgba(18, 108, 168, 0.9);
        padding: 10px 10%;
        color: white;
        position: relative;
        z-index: 2;
        margin-top: auto;
    }
    
    .footer-container {
        display: flex;
        justify-content: center;
        gap: 20px;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
    }
    
    .footer-logo {
        font-size: 0.7rem;
    }
    
    .footer-logo span {
        color: #0099ff;
    }
    
    .footer-info {
        text-align: center;
        flex: 1;
        font-size: 0.6rem;
        line-height: 1.4;
    }
    
    .back-to-top .btn-top {
        background-color: #0099ff;
        color: white;
        padding: 10px 15px;
        border-radius: 25px;
        text-decoration: none;
        font-size: 0.6rem;
        transition: transform 0.3s ease, background-color 0.3s ease;
    }
    
    .back-to-top .btn-top:hover {
        background-color: #434343;
        transform: scale(1.1);
        color: #0099ff;
    }
}